<div class="container">
  <% if @login_flag %>
    <%# ログイン前 %>
  <% else %>
    <%# ログイン後 %>
    <div class="top_inner text-center">
      <h1 class="title font-weight-bold">探求学園Rails専攻 ECサイト</h1>
      <p class="title_text">ご利用いただき、ありがとうございます<br>右上のメニューから商品を検索したり、注文したりできます</p>
    </div>
  <% end %>
</div>
