<div class="container">

  <div class="top_inner text-center">
    <h1 class="title font-weight-bold mb-5">購入完了しました</h1>
    <p class="title_text">ご購入ありがとうございます！</p>
    <%# 注文番号を表示させる部分は、注文詳細のテーブルが作成されてから変更する %>
    <p class="title_text">注文番号：1234567890</p>
  </div>

  <div class="text-center my-5">
    <button type="submit" class="btn btn-lg btn-primary">Topに戻る</button>
  </div>
</div>
