<div class="container text-center">
  <div class="form-signin">
  <h4 class="h3 my-5 font-weight-normal">ログイン画面</h4>
    <div class="form-group">

      <div class="text-left mb-4">
        <label for="email">メールアドレス</label>
        <input type="email" id="inputEmail" class="form-control" required autofocus>
      </div>

      <div class="text-left mb-5">
        <label for="password">パスワード</label>
        <input type="password" class="form-control" id="inputPassword">
      </div>

      <div class="mb-4">
        <%= link_to "ログイン", "#", class: "btn  btn-primary"%>
      </div>
    </div>
        <%= link_to "まだ登録がお済みでない方はこちら", "#" %>
  </div>
</div>