/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/* header */
header {
  background-color: gold;
}

header .container {
  padding-left: 0;
  padding-right: 0;
}

.hlogo:link,
.hlogo:visited,
.hlogo:hover,
.hmenu:link,
.hmenu:visited,
.hmenu:hover,
.username:link,
.username:visited,
.username:hover {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  main {
    margin-top: 72px;
  }

  #login-margin {
    margin-top: 96px;
  }

  main .container {
    padding-top: 20px;
  }

  /* header */
  .hmenu {
    margin-right: 20px;
  }

  .username {
    padding-right: 22px;
  }
  
  .error{
    max-width: 300px;
  }
}

/* footer */
footer .container {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: gold;
}

.flogo:link,
.flogo:visited,
.flogo:hover {
  color: black;
  text-decoration: none;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
  main {
    margin-top: 4rem;
  }

  #login-margin {
    margin-top: 5.2rem;
  }
  
  .alert {
    font-size: .8rem;
  }

  /* header */
  .navbar {
    padding: .25rem .5rem !important;
  }

  header .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .display-block {
    display: block !important;
  }

  .navbar {
    padding: .25rem .5rem;
  }

  .nav-menu {
    margin: auto;
  }

  .nav-item {
    margin: auto;
  }

  .hlogo {
    font-size: 1rem;
  }

  .hmenu {
    font-size: 0.65rem;
  }

  .navmenu {
    width: 100%;
    margin: .2rem 0 .2rem 0;
  }

  .username {
    font-size: .8rem;
    padding: .4rem .5rem 0 0;
  }

  /* footer */
  footer .container {
    padding-right: 8px;
    padding-left: 8px;
  }

  .flogo {
    font-size: 0.5rem;
  }

  .copyright {
    font-size: 0.5rem;
  }
}

/* エラーメッセージ */
.error{
  margin-left: auto;
  margin-right: auto;
  .error__inner{
    padding-top: 1rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    background-color: #fde0e0;
  }
  .error__text{
    color: #e95b5b;
    list-style: none;
    font-size: .8rem;
  }
}
