
    /* main */
    @media screen and (min-width: 769px) {
      main { margin: 106px 0; }
      .hmenu { margin-right: 20px; }
      .username { padding-right: 22px;}
    }

    /* 注文詳細画面 */
    .card {
      border: 1px solid black;
      border-radius : 25px;  
    }

    .table-border {
      border-top: 1px solid black;
    }

    .remarks{
      text-align: left;
    }

    /* レスポンシブ */
    @media screen and (max-width: 768px) {
      /* main */
      main { margin: 5.7rem 0; }
      .navmenu { width: 100%; margin: .2rem 0 .2rem 0; }
      .username { font-size: .8rem; padding: .4rem .5rem 0 0;}
      
      /* 注文詳細画面 */
      .table {
          width: 95%;
        }
        .table .thead {
          display: none;
        }
        .table tr {
          width: 100%;
        }
        .table td {
          display: block;
          text-align: right;
          width: 100%;
        }
        .table td:before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          margin-right: 10px;
        }
        .table tr .total{
          font-weight: bold;
          margin-right: 10px;
        } 
        .table-border-responsive {
          border-top: 1px solid black;}
        }
