// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product-index {
  width: 100%;
  margin-bottom: 30px;
  tr {
    border: solid 1px black;
    text-align: center;
  }
  td {
    padding: .5rem;
  }
}

#caption-side {
  text-align: left;
  caption-side: top;
}
