@media screen and (min-width: 769px) {
  main { margin: 90px 0; }
  
  .top_inner {
    padding-top: 200px;
  }
}

/* レスポンシブ */
@media screen and (max-width: 768px) {

/* main */
main {
  margin: 5rem 0;
  }

.top_inner {
  padding-top: 6rem;
  }

.title {
  font-size: 1.9rem
  }

.title_text {
  font-size: .9rem
  }
}
