/* ユーザー登録画面 */
.info:link,
.info:visited,
.info:hover,
.info {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  #new_user {
    width: 540px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  input.form-control.lname,
  input.form-control.fname {
    width: 216px;
  }

  input.form-control.mailform,
  input.form-control.telform {
    width: 458px;
  }
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
  .text-center {
    font-size: 1.4rem;
  }

  input.form-control.lname,
  input.form-control.fname {
    width: 17.5rem;
  }

  input.form-control.mailform,
  input.form-control.telform {
    width: 16.5rem;
  }

  .info {
    font-size: 1rem;
  }
}

// 「field_with_errors」によるレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
}
