@media screen and (min-width: 769px) {
  #new_user {
    width: 540px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.text-center {
  font-size: 1.4rem;
}

.mailform {
  width: 14.8rem;
}

.telform {
  width: 14.8rem;
}

.info {
  font-size: 1rem;
}
