<footer class="footer fixed-bottom py-3">
  <div class="container">
    <%= link_to '探求学園Rails専攻', '#', class:"flogo" %>
    <div class="text-muted d-flex align-items-end copyright">&copy; 2020 QuestAcademia, All rights reserved</div>
  </div>
</footer>
