<footer class="footer fixed-bottom py-3">
  <div class="container">
    <%= link_to '探求学園Rails専攻', '#', class:"flogo" %>
    <%= link_to "\xA9 2020 QuestAcademia, All rights reserved", '#', class:"text-muted d-flex align-items-end copyright" %>
  </div>
</footer>
